<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Building Planner</title>
		<link rel="icon" href="assets/favicon.png" />
		<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="style.css" rel="stylesheet" />
	</head>
	<body>
		<ul id="navabar">
			<!--li><a class="active" href="#home">Home</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#about">About</a></li-->
			<li v-for='i in blocks'><button v-on:click='setActiveBlock(i)'><img v-bind:src="'assets/blocks/'+i.texture+'.png'"></img></button></li>
		</ul>
		<div class="container">
			<div class="row">
				<div class="col" id='input'>
					Project
					<div>
						<div class="input-group mb-3">
							<input v-model='grid.rows' type="text" class="form-control" placeholder="Rows" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<span class="input-group-text">Rows</span>
							</div>
						</div>
						<div class="input-group mb-3">
							<input v-model='grid.columns' type="text" class="form-control" placeholder="Columns" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<span class="input-group-text">Columns</span>
							</div>
						</div>
						<div class="input-group mb-3">
							<input v-model='grid.layers' type="text" class="form-control" placeholder="Layers" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<span class="input-group-text">Layers</span>
							</div>
						</div>
						<button class="btn btn-success" v-on:click='grid.layers++'>Add a Layer</button>
						<button class="btn btn-success" v-on:click='grid.layers--'>Remove a Layer</button>
						<div class="row" v-for='i in Number(grid.rows)'>
							<div v-for='j in Number(grid.columns)'>
								<button class="square" v-on:click="clickBlock(i-1,0,j-1)">
									<img v-if='structure[i-1][j-1]!=undefined' v-bind:src="'assets/blocks/'+structure[i-1][j-1].texture+'.png'"></img>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					Preview
					<div id="3d"></div>
				</div>
			</div>
		</div>
		<!-- Libs -->
		<script src="node_modules/three/build/three.min.js"></script>
		<script src="node_modules/three/examples/js/controls/OrbitControls.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="node_modules/vue/dist/vue.js"></script>
		<!-- Config -->
		<script src="assets/blocks.js"></script>
		<!-- App -->
		<script src="js/Preview.js"></script>
		<script src="js/Input.js"></script>
		<script src="js/Navbar.js"></script>
	</body>
</html>
